#!/bin/bash

# Generate the env variables to be used for the Cluster's creation

set -o errexit
set -o nounset

export LC_ALL=en_US.UTF-8

export DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null && pwd )"

export CLUSTER_NAME=mycluster01
export KIND_CLUSTER_NAME=mycluster01
# Defined during the cluster bootstrap - prerequisites
# Used during the cluster creation/deployment in the Machine and MachineDeployment definitions
export AWS_CUSTOM_SG=${AWS_CUSTOM_SG:-""}
# Export components versions
export CAPI_VERSION=v0.3.6
export CAPA_VERSION=v0.5.4

# Export env variables for AWS admin account
export AWS_REGION=eu-west-3 # Paris
export AWS_ACCESS_KEY_ID=xxx
export AWS_SECRET_ACCESS_KEY=xxx
export AWS_BOOTSTRAP_USER=robot
export AWS_CLOUDFORMATION_STACK=cluster-api-provider-aws-sigs-k8s-io
